<!-- Footer -->
<footer class="prp-center prp-black prp-padding-32 prp-opacity prp-hover-opacity-off">
  <a routerLink="/home" routerLinkActive="currentNav" [routerLinkActiveOptions]="{exact:true}" class="prp-button prp-light-grey"><i class="fa fa-arrow-up prp-margin-right"></i>Back to top</a>
  <div class="prp-xlarge prp-section">
    <a href="https://www.facebook.com/RockingRathna" target="_blank"class="aspace"><i class="fa fa-facebook-official prp-hover-opacity fa-lg"></i></a>
    <a href="https://www.linkedin.com/in/rathnaprakash/" target="_blank" class="aspace"><i class="fa fa-linkedin prp-hover-opacity fa-lg"></i></a>
    <a href="https://twitter.com/P_RathnaPrakash" target="_blank" class="aspace"><i class="fa fa-twitter prp-hover-opacity fa-lg"></i></a>



    <!--<i class="fa fa-instagram prp-hover-opacity"></i>
    <i class="fa fa-snapchat prp-hover-opacity"></i>
    <i class="fa fa-pinterest-p prp-hover-opacity"></i>-->


  </div>
  <p>Built and Designed by <a href="/aboutme" title="Full Stack Java Programmer" class="prp-hover-text-green">Rathna Prakash</a></p>
</footer>
