<!-- Container (About Section) -->
<div class="prp-content prp-container prp-padding-64" id="about">
  <h3 class="prp-center dancing-font ">ABOUT ME</h3>
  <p class="prp-center"><em sty>I love programming because Its fun.</em></p>
  <p class="prp-center" style="text-indent:10px">
    <a class="fa fa-dot-circle-o"> Innovative </a>
    <a class="fa fa-dot-circle-o"> Accessible </a>
    <a class="fa fa-dot-circle-o"> Achievable  </a>
    <a class="fa fa-dot-circle-o"> Deliverable </a>
  </p>
  <p>My mission in life is not simply to survive, but to succeed; and to do so with passion, compassion. I believe in Einstein Strategy, <i><q>Logic will get you from A to B. Imagination will take you everywhere.</q> </i> Because this strategy kicks my creative
    and innovation skills and made to do some greatest achievement and accept my failures and mistakes. So that I can do better thing in the world</p>
  <div class="prp-row">
    <div class="fa fa-user prp-col m6 prp-center prp-padding-large">
      <p><b><i class="prp-margin-right"></i>Rathna Prakash Paramesh Kumar </b></p>
      <figure>
        <img src="/assets/me.jpg" class="prp-round prp-image" alt="Photo of Me" width="500" height="333">
      </figure>
    </div>

    <!-- Hide this text on small devices -->
    <div class="prp-col m6 prp-hide-small prp-padding-large">
      <p>Welcome to my website. I am Rathna Prakash born and brought up in <a class="city" href="https://en.wikipedia.org/wiki/Erode" target="_blank">Turmeric City</a>. I have been working around eight years in Java/J2EE and its related technologies over three
        different regions like Asia, Americas and the Middle East. <br> </p>
      <p> My aspiration is to be good and approachable Java based solution architect who will be accessible to any technical problems and suggestions. I am able to solve the problem in both technical as well as business aspects in it. A good and committed
        team player who proactively guides other team members and help them when they are in need of technical problems.</p>
      <p>I am self-motivated developers and the perpetual learner who always invest my free time as well as extra time in learning new thing and doing small POC in emerging technologies. And Try to implement the same in existing project when it is required.
        Follow the best practices in the coding and as well as implementing best practices of the scrum in my team.
      </p>
    </div>
  </div>
  <p class="prp-large prp-hide-small dancing-font">Some Insights . .</p>
  <div class="prp-insights">
    <ul class="prp-hide-small">
      <li>
        An Oracle certified Java programmer
      </li>
      <li>
        Excellent knowledge in converting business specifications to technical specifications
      </li>
      <li>
        Proven experience in delivery and equally comfortable working independently as well as in a team environment.
      </li>
      <li>
        Good team player with extraordinary problem solving and troubleshooting capabilities.
      </li>
      <li>
        Experience and understanding of AWS EC2 and experience in operating and managing AWS environment.
      </li>
      <li>
        Worked extensively in Agile Scrum methodology, followed the best Practices of the Agile-scrum.
      </li>
    </ul>
  </div>
</div>
