.prp-insights {
  word-spacing: 1px;
  float: left;
}
li{
  padding: 1%;
}


 a.city:link {
  color: blueviolet;
}

/* visited link */
a.city:visited {
  color: green;
}

/* mouse over link */
a.city:hover {
  color: yellowgreen;
}

/* selected link */
a.city:active {
  color: blue;
}

