.job-duration {
  float: right;
}

.fa {
  padding-right: 10px;
}

.modal-dialog {
  max-width: 700px;
}

body.modal-open {
  overflow: visible;
}

.company-logo {
  height: 100px;
  margin-right: 10px;
}

.pointer,
IMG {
  cursor: pointer;
}

.ex-logo {
  margin-bottom: 60px;
  margin-top: 25px;
  opacity: 0.8;
  text-align: center;
}

.work {
  background: url("/assets/work.png") no-repeat top left;
  width: 105px;
  height: 105px;
  display: inline-block;
  margin-left: 15px;
}
.work.blackboard {
  background-position: 0 0;
}
.work.changedHealthcare {
  background-position: -110px 0;
}
.work.dtv {
  background-position: -220px 0;
}
.work.enbd {
  background-position: -330px 0;
}
.work.hrblock {
  background-position: -440px 0;
}
.work.tesco {
  background-position: -550px 0;
}
