<div class="bgimg-3 prp-display-container prp-opacity-min">
  <div class="prp-display-middle">
    <span class="prp-xxlarge prp-text-white prp-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="prp-content prp-container prp-padding-64" id="portfolio">
    <h3 class="prp-center">My Projects @ </h3>

  <div class="prp-hide-small ex-logo ">
      <div class='work blackboard rounded company-logo prp-opacity prp-hover-opacity-off' (click)="open(content1)"></div>
      <div class='work enbd rounded company-logo prp-opacity prp-hover-opacity-off' (click)="open(content2)"></div>
      <div class='work tesco rounded company-logo prp-opacity prp-hover-opacity-off' (click)="open(content3)"></div>
      <div class='work dtv rounded company-logo prp-opacity prp-hover-opacity-off'(click)="open(content4)"></div>
      <div class='work hrblock rounded company-logo prp-opacity prp-hover-opacity-off' (click)="open(content5)"></div>
      <div class='work changedHealthcare  rounded company-logo prp-opacity prp-hover-opacity-off' (click)="open(content6)"></div>




  </div>
  <h3 class="prp-center">My Work Experience</h3>
  <p class="prp-center"><em>Click on them to more in detail </em></p>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="prp-left">
    <div class="prp-col m12 prp-row-padding prp-section pointer" (click)="open(content1)">
      <h5> <i class="fa fa-free-code-camp fa-1x"aria-hidden="true"></i> <b>Programmer Analyst</b> @ CSS CORP, Salt Lake City, Utah  &nbsp;&nbsp; from  June 2016 to Current</h5>
      <p>Customization learning management system (Blackboard) based on each customer’s requirements. Designing and Developing web application as plug-in for product(Blackboard LMS) to enhance the product features.</p>
    </div>

    <div class="prp-col m12 prp-row-padding prp-section pointer" (click)="open(content2)">
      <h5> <i class="fa fa-free-code-camp fa-1x"aria-hidden="true"></i> <b>IT Consultant/Senior Java developer</b> @  Emirates NBD Bank ,Dubai, U.A.E  &nbsp;&nbsp; from  August 2014 to December 2015 </h5>
      <p> Building interfaces between the web applications which connect trade finance application and core finance system via Tibco. Migration of customer and transaction data from the Legacy system to the new system </p>
    </div>

    <div class="prp-col m12 prp-row-padding prp-section pointer" (click)="open(content3)">
      <h5> <i class="fa fa-free-code-camp fa-1x"aria-hidden="true"></i> <b>Senior Asscoiate</b> @   Sapient Nitro, Bangalore, India  &nbsp;&nbsp;  from November 2013 to August 2014 </h5>
      <p>Design and Developing e-commerce retail business for GMO-Tesco by using Oracle ATG Suite. Integrating with Endeca for Product Categories, Product Search and Search Filter management. Integrating with Third-party for payment module and Shipping Module.</p>
    </div>

    <div class="prp-col m12 prp-row-padding prp-section pointer" (click)="open(content4)">
      <h5> <i class="fa fa-free-code-camp fa-1x"aria-hidden="true"></i> <b>Senior Software Engineer</b> @   Infosys, Chennai, India   &nbsp;&nbsp;  from July 2012 to October2013 </h5>
      <p>Directv.com is an e-commerce website (B2C). Development of an e-commerce web application where user can choose, customize the TV package, purchase the respective equipment, pay and confirm the order by providing shipping details.</p>
    </div>


    <div class="prp-col m12 prp-row-padding prp-section">
      <h5> <i class="fa fa-free-code-camp fa-1x"aria-hidden="true"></i> <b>Software Engineer</b> @   UST Global Pvt Ltd. Kerala, India   &nbsp;&nbsp;  from  March 2010 to July 2012 </h5>
      <ul>
        <li>
          <span class="pointer" (click)="open(content5)">Development of Web Application for changehealthcare (Emdeon) by which providers(Medical Institution) can make correction to rejected claim and submit a new claim</span>
        </li>
        <li>
          <span class="pointer"  (click)="open(content6)">Development of Tax Estimator application for HR BLOCK, and Development of “Find an Office” application is a centralised office locator application and schedule an appointment with HRBlock tax executives </span>
        </li>
      </ul>
    </div>
  </div>



<!--template content for modalService starts-->
<!--template content 1-->
<ng-template ngbModalContainer #content1 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5><b>Programmer Analyst</b> @ CSS CORP </h5>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>Blackboard, Draper, Utah</i>
  <p>The learning system product customization based on each customer's requirements. Developing web application as plug-in for product to enhance the product features. </p>
  <b>As a Programmer Analyst my Responsibilities includes:</b>
  <ul>
     <li> Responsible for handling modules independently from requirements phase to maintenance phase.</li>
     <li> Involved in coding for DAOs, Services and Controllers.</li>
     <li> Converting monolithic/layered application to Micro-services Architecture Stack.</li>
     <li> Implemented the business logic using spring frameworks -Dependency Injection, Auto wiring, AOP Logging, Annotations.</li>
     <li> Strong experience of developing data models using Hibernate POJOâ€™s and Mapping of ORM classes with the database using configuration files for hibernate.</li>
     <li> Involved in writing the HQL, Criteria.</li>
     <li> Implemented the Application using many of the Design Patterns and Object Oriented</li>
     <li> Process in the view of future requirements of the domain.</li>
     <li> Collaborate with the team with onsite and offshore for designing and coding.</li>
     <li> Involved in release management activities.</li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span>Java, spring, Hibernate, Tomcat 8.0,AWS, J2EE, Eclipse, spring, spring boot,  Multithreading, HTML, CSS, XML, GitHub, Web Logic, SQL, Oracle SQL Developer, Jira, MQ Series, SVN, Agile, Junit, Angular JS and Jquery </span>
</div>
</ng-template>
<!--template content 2-->
<ng-template #content2 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h6><b>IT Consultant</b> @  Emirates NBD Bank </h6>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>Emirates NBD, Dubai, UAE</i>
  <p> Building interfaces between the web applications which connect trade finance application and core finance system via Tibco. Migration of customer and transaction data from the Legacy system to the new system </p>
  <b> As a senior developer my responsibilities included:</b>
  <ul>
     <li> Converting Business Requirement to Technical specification and creating high-level and detailed design.</li>
     <li>Developed REST web services to expose the Middle-ware services.</li>
     <li>Responsible for developing UI components and integrating with back-end data. </li>
     <li>Development of SQL queries for data migration, view and Materialized View for daily MIS reports.</li>
     <li>Developed and executed test strategy and coordinated QA testing in Agile Environment.</li>
     <li>Creation of modern, functional interfaces using HTML, CSS and Angularjs.</li>
     <li>Hibernate ORM Framework is used to retrieve data from Database. </li>
     <li>Responsible for leading small development team from onshore and Responsible in managing scope, planning, tracking, change controls. </li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span>JAVA /J2EE, EJB, SPRING, Hibernate, ORACLE WEBLOGIC 10.1, Eclipse, TFS, Crystal Reports, HTML, CSS, JavaScript, Jquery and Angular JS.</span>
</div>
</ng-template>
<!--template content 3-->
<ng-template #content3 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h6><b>  Senior Asscoiate</b> @  Sapient Nitro, Bangalore, India &nbsp;&nbsp; &nbsp;&nbsp;</h6>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>TESCO/direct, UK</i>
  <p>(Tesco.com) is on e-commerce retail business across the UK. GMO-Tesco HSC development team is responsible for delivering new features and requirements put forward by business to implement into Tesco’s website (tesco-direct.com). </p>
  <b> As a developer my responsibilities included:</b>
  <ul>
     <li> Converting Business Requirement to Technical specification and creating high-level and detailed design.</li>
     <li>Developed REST web services to expose the Middle-ware services.</li>
     <li>Responsible for developing UI components and integrating with back-end data. </li>
     <li>Development of SQL queries for data migration, view and Materialized View for daily MIS reports.</li>
     <li>Developed and executed test strategy and coordinated QA testing in Agile Environment.</li>
     <li>Creation of modern, functional interfaces using HTML, CSS and Angularjs.</li>
     <li>Hibernate ORM Framework is used to retrieve data from Database. </li>
     <li>Responsible for leading small development team from onshore and Responsible in managing scope, planning, tracking, change controls. </li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span> JAVA /J2EE, ATG Personalization, ATG Commerce, ATG Scenario, Targeters, slots, ACC, BCC, SOAP, JSP, JSTL, DSP tags, Web & App Server, JBOSS, IIS, Eclipse, TFS, HTML, CSS, Jquery.
  </span>
</div>
</ng-template>
<!--template content 4-->
<ng-template #content4 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h6><b>  Senior Software Engineer</b> @ Infosys, Chennai, India </h6>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>Directv, El Segundo, CA, USA</i>
  <p>(Directv.com is an e-commerce website (B2C). Development of an e-commerce web application where user can choose, customize the TV package, purchase the respective equipment, pay and confirm the order by providing shipping details. </p>
  <b> As a Senior Software Engineer my responsibilities included:</b>
  <ul>
     <li>Converting business requirements to technical specification. </li>
     <li>Building the generic Interface for the mobile site and full site and Integrating Back end data with UI Components.</li>
     <li>Developed reusable and interoperable Web service modules based on SOA architecture using RESTFUL API and SOAP and Integration of Web services with ATG Pipeline Processors.</li>
     <li>Developing logical restructuring techniques for shopping cart based on user’s profile.</li>
     <li>Interacting with Quality Assurance department to ensure the quality of the delivery and assist then test scripts. </li>
     <li>Working with production support team on application deployment and production issue.</li>
     <li>Collaborate with the team with onsite and offshore for designing and coding.</li>
     <li>Involved in enhancing application functionality and also its performance.</li>
     <li>Worked with QA team to fix bugs. </li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span> ATG Personalization, ATG Commerce, ATG Scenario, Targeters, slots, ACC, BCC, DAS, DPS SOAP, REST, JSP, JSTL, DSP tags, HTML5, CSS3, Jquery, Angular JS, Oracle Application Server, Apache HTTP Server, Eclipse, SVN, HP QC.
  </span>
</div>
</ng-template>
<!--template content 5-->
<ng-template #content5 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h6><b>Software Engineer</b> @  UST Global Pvt Ltd. Kerala, India </h6>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>Emdeon, Nashville, TN, USA.</i>
  <p> Development of web-based tool designed for providers to correct and update the rejected/new claim. The claim details are split into tabs & categorized based on business. When the user moves the cursor around the field, the system highlights the
     appropriate error message. Once the user submits the claim it will be sent back to TDR to update claim.
  </p>
  <b> As a Software Engineer my responsibilities included:</b>
  <ul>
     <li>Consuming Web Service and mapping to respective web pages on tab-wise. </li>
     <li>Development and Implementation of Validation Framework for Back-end and Front-end </li>
     <li>Development of Interfaces to get the data from other application. </li>
     <li>Involved in writing Detail Design Documents with UML Specifications </li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span>  JAVA /J2EE, Jax-ws, Struts, Hibernate, Velocity, HTML, CSS, Jquery, Java Script, SVN, clear case and remote client.
  </span>
</div>
</ng-template>
<!--template content 6-->
<ng-template #content6 let-c="close" let-d="dismiss">
<div class="modal-header">
  <h6><b>  Software Engineer</b> @  UST Global Pvt Ltd. Kerala, India </h6>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <i>H&R Block, Kansas City, MO.</i>
  <p> Development of “Tax Estimator” application for HR BLOCK through which a customer can calculate the Tax amount to be paid/refund to the USA Govt. for the current year based on customers residing state. “Find an Office” is a centralized office locator
     application through which an office can be searched within X miles of a zip code or street address. The applications integrate with Google Maps SDK which provides in the map display, directions and other map functions. From the search results,
     the user can select and know the services that can be availed from that office. That data related to each office is uploaded to Google Fusion Tables on the daily basis
  </p>
  <b> As a Software Engineer my responsibilities included:</b>
  <ul>
     <li> Building the generic Interface for all the consuming Application using Soap and REST. </li>
     <li>Development of the API package by providing a wrapper with necessary and additional information using Google API and data loading to Fusion Table. </li>
     <li>Development for the entire UI for the web sites using Jquery, HTML, CSS. </li>
     <li>Used AJAX technology for creating interactive Web Applications. </li>
     <li>Developed REST web-services using Apache-CXF. </li>
     <li>Developed JSP (Java Server Pages) for orders module and Customer Service Department. </li>
     <li>Used Maven for build code. </li>
     <li>Used PL/SQL, Stored Procedures for handling Oracle database. </li>
  </ul>
</div>
<div class="modal-footer">
  <b>Environment:</b> <span>  Java, J2EE, HTML, CSS, Google Map & YOUTUBE API JSP, Jquery, JDBC, ANT, Apache Tomcat, SQL, Log4J, XML, XSLT, SAX, DOM.
  </span>
</div>
</ng-template>
