<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 prp-display-container prp-opacity-min">
  <div class="prp-display-middle">
    <span class="prp-xxlarge prp-text-white prp-wide">CONNECT & TRANSFORM</span>
  </div>
</div>

<div class="prp-content prp-container prp-padding-64" id="contact">
  <h3 class="prp-center">Lets us connect for Hiring or  Freelancing work!</h3>
  <p class="prp-center"><em></em></p>

  <div class="prp-row prp-padding-32 prp-section">
    <div class="prp-col m4 prp-container">
      <!-- Add Google Maps-->
      <div id="googleMap" class="prp-round-large prp-greyscale" style="width:100%;height:400px;">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
    <div class="prp-col m8 prp-panel">
      <div class="prp-large prp-margin-bottom">
        <i class="fa fa-map-marker fa-fw prp-hover-text-black prp-xlarge prp-margin-right"></i> Salt Lake City,Utah, USA<br/>
        <i class="fa fa-phone fa-fw prp-hover-text-black prp-xlarge prp-margin-right"></i> Google Voice: +1 (505) 398-3323 (TEXT only)<br/>
        <i class="fa fa-envelope fa-fw prp-hover-text-black prp-xlarge prp-margin-right"></i> Email: rathnaprakash86@gmail.com<br/>
      </div>
      <p style="text-indent:2px">Call me  or leave me a voice mail</p>
      <h4 class="prp-center" style="margin-top: 75px">Lets us connect on Social Networks</h4>
      <div class="prp-xlarge prp-section" style="text-align: center">
          <a href="https://www.facebook.com/RockingRathna" target="_blank"class="aspace"><i class="fa fa-facebook-official prp-hover-opacity fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/rathnaprakash/" target="_blank" class="aspace"><i class="fa fa-linkedin prp-hover-opacity fa-lg"></i></a>
          <a href="https://twitter.com/P_RathnaPrakash" target="_blank" class="aspace"><i class="fa fa-twitter prp-hover-opacity fa-lg"></i></a>
          <a href="https://www.instagram.com/rathnaprakash/" target="_blank" class="aspace"><i class="fa fa-instagram prp-hover-opacity"></i></a>



        <!--  <i class="fa fa-instagram prp-hover-opacity"></i>
        <i class="fa fa-snapchat prp-hover-opacity"></i>
          <i class="fa fa-pinterest-p prp-hover-opacity"></i>-->


        </div>
       <!--
      <p style="text-indent:2px">Swing by for a cup of <i class="fa fa-coffee" aria-hidden="true"></i>, or leave me a note:</p>

     <form [formGroup]="contactForm" >
        <div class="prp-row-padding " style="margin:0 -16px 8px -16px ">
          <div class="prp-half">
            <input class="prp-input prp-border " type="text" placeholder="Name" name="senderName" formControlName="senderName">
            <span class="help-block" *ngIf="!contactForm.get('senderName').valid && contactForm.get('senderName').touched">Please enter name</span>
          </div>
          <div class="prp-half">
            <input class="prp-input prp-border" type="text" placeholder="Email" name="fromemail" formControlName="fromemail">
            <span class="help-block" *ngIf="!contactForm.get('fromemail').valid && contactForm.get('fromemail').touched"> Please enter valid email</span>
          </div>
        </div>
        <input class="prp-input prp-border " type="text " placeholder="Message " name="message" formControlName="message">
        <span class="help-block" *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"> Please enter message</span>
<br>
        <div class="prp-half">

        </div>
        <div class="prp-half">
          <button class="prp-button prp-black prp-right prp-section "(click)="captchaRef.execute()"   type="submit ">
            <i class="fa fa-paper-plane "></i> SEND MESSAGE    </button>
        </div>
      </form> -->

    </div>
  </div>
</div>
