


          <div class="bgimg-2 prp-display-container prp-opacity-min">
            <div class="prp-display-middle">
              <span class="prp-xxlarge prp-text-white prp-wide">Skills</span>
            </div>
          </div>

                    <div class="prp-row prp-center prp-dark-grey prp-padding-16">
                      <div class="prp-third prp-section">
                        <span class="prp-xlarge">M.S</span><br> Information System (2017)<br>
                        <a href="https://www.stevenshenager.edu/" target="_blank">Stevens–Henager College. USA</a>

                      </div>
                      <div class="prp-third prp-section">
                        <span class="prp-xlarge">B.E</span><br> Electronic Communications Engineering (2008)<br>
                        <a href="https://www.annauniv.edu/" target="_blank"> Anna University. India</a>

                      </div>
                      <div class="prp-third prp-section">
                        <span class="prp-xlarge">OCJP</span><br> Oracle Certified Professional Java Programmer (2011) <br>
                        <a href="https://www.youracclaim.com/badges/256629e7-8fea-47d3-a53c-ad912bde78d9" target="_blank">Oracle University </a>
                      </div>

                    </div>
          <div class="prp-content prp-container prp-padding-64" id="Skills">
            <h3 class="prp-center">My Perceptual learning on ..</h3>


            <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
            <div class="prp-row-padding prp-center">
              <!--     <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>Operating System</dt>
                  <dd>RedHat Linux </dd>
                  <dd> Fedora </dd>
                  <dd> CentOS </dd>
                  <dd> Linux Mint </dd>
                  <dd> Windows </dd>
                </dl>
              </div> -->

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>Languages</dt>
                  <dd>Java/J2EE</dd>
                  <dd> HTML </dd>
                  <dd> Javascript </dd>
                  <dd> Shell scripting </dd>
                </dl>
              </div>

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>Web Dev Component</dt>
                  <dd>SOAP & REST</dd>
                  <dd>XML,XSD,XSLT</dd>
                  <dd>JSON, BSON</dd>
                  <dd>JSOE, OAUTH 2.0</dd>
                  <dd>Google Map API & YouTube API</dd>
                </dl>
              </div>

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>Backend Frameworks & Database</dt>
                  <dd>Spring</dd>
                  <dd>Hibernate</dd>
                  <dd>ReactiveX</dd>
                  <dd>Oracle SQL</dd>
                  <dd>MySQL</dd>
                  <dd>MongoDB</dd>
                </dl>
              </div>
              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>Messaging Frameworks</dt>
                  <dd>Apache Kafka</dd>
                  <dd>RabbitMQ</dd>
                  <dd>JMS</dd>
                </dl>
              </div>

            </div>

            <div class="prp-row-padding prp-center prp-section">
              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt>ATG Stack</dt>
                  <dd>Dynamo Application Framework</dd>
                  <dd>User Profiling & Personalization</dd>
                  <dd>Scenario</dd>
                  <dd>Content Publishing</dd>
                  <dd>DSP & Droplets</dd>
                  <dd>Commerce &Merchandising</dd>
                </dl>
              </div>

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt> Advanced JavaScript</dt>
                  <dd>NodeJS</dd>
                  <dd>Express,EJS</dd>
                  <dd>Angular 2+</dd>
                  <dd>React</dd>
                  <dd>BootStrap</dd>
                  <dd>Jquery</dd>
                </dl>
              </div>

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt> Application Servers</dt>
                  <dd>Apache Tomcat</dd>
                  <dd>IBM WebSphere</dd>
                  <dd>Oracle Weblogic</dd>
                  <dd>JBOSS</dd>
                </dl>
              </div>

              <div class="prp-col m3">
                <dl class="prp-dl-skill">
                  <dt> Devops</dt>
                  <dd>Amazon Web Services</dd>
                  <dd>Dockers</dd>
                  <dd>GitHub</dd>
                  <dd>Atlassian</dd>
                  <dd>Jenkins</dd>
                </dl>
              </div>
            <!--  <button class="prp-button prp-padding-large prp-light-grey" style="margin-top:64px">LOAD MORE</button> -->
            </div>
          </div>
