
<!-- Navbar (sit on top) -->
<nav>
<div class="prp-top">
  <div appNavigationscroll class="prp-bar prp-color" id="myNavbar" >
    <a  appNavigationOpener class="prp-bar-item prp-button prp-hover-black prp-hide-medium prp-hide-large prp-right"
    title="Toggle Navigation Menu" >
      <i class="fa fa-bars"></i>
    </a>
    <a routerLink="/" routerLinkActive="currentNav"  placement="bottom" ngbTooltip="Home" [routerLinkActiveOptions]="{exact:true}"  class="prp-bar-item prp-button">HOME</a>
    <a routerLink="/aboutme" routerLinkActive="currentNav"   placement="bottom" ngbTooltip="About Rathna"  class="prp-bar-item prp-button prp-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a routerLink="techskill" routerLinkActive="currentNav"  placement="bottom" ngbTooltip="Skills & Academics"  class="prp-bar-item prp-button prp-hide-small"><i class="fa fa-code"></i> SKILLS</a>
    <a routerLink="portfolio"  routerLinkActive="currentNav"  placement="bottom" ngbTooltip="Project & Work Experience" class="prp-bar-item prp-button prp-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a routerLink="contact"  routerLinkActive="currentNav"  placement="bottom" ngbTooltip="Lets Connect" class="prp-bar-item prp-button prp-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>

  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo"  appNavigationStyle class="prp-bar-block prp-white prp-hide prp-hide-large prp-hide-medium">
    <a routerLink="aboutme" class="prp-bar-item prp-button" placement="left" ngbTooltip="About Rathna"  > ABOUT</a>
    <a routerLink="techskill" class="prp-bar-item prp-button"> SKILLS</a>
    <a routerLink="portfolio" class="prp-bar-item prp-button"> PORTFOLIO</a>
    <a routerLink="contact" class="prp-bar-item prp-button" > CONTACT</a>

  </div>
</div>
<nav>
