/* You can add global styles to this file, and also import other style files */


/* prp.CSS 4.04 Apr 2017  */

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}


/* Extract from normalize.css */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

progress {
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden], template {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

dfn {
  font-style: italic
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

figure {
  margin: 1em 40px
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button, input, select, textarea {
  font: inherit;
  margin: 0
}

optgroup {
  font-weight: bold
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto
}

[type=checkbox], [type=radio] {
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}


/* End extract */

html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

.prp-serif {
  font-family: serif
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.prp-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.prp-image {
  max-width: 100%;
  height: auto
}

img {
  margin-bottom: -5px
}

a {
  color: inherit
}

.prp-table, .prp-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table
}

.prp-table-all {
  border: 1px solid #ccc
}

.prp-bordered tr, .prp-table-all tr {
  border-bottom: 1px solid #ddd
}

.prp-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1
}

.prp-table-all tr:nth-child(odd) {
  background-color: #fff
}

.prp-table-all tr:nth-child(even) {
  background-color: #f1f1f1
}

.prp-hoverable tbody tr:hover, .prp-ul.prp-hoverable li:hover {
  background-color: #ccc
}

.prp-centered tr th, .prp-centered tr td {
  text-align: center
}

.prp-table td, .prp-table th, .prp-table-all td, .prp-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top
}

.prp-table th:first-child, .prp-table td:first-child, .prp-table-all th:first-child, .prp-table-all td:first-child {
  padding-left: 16px
}

.prp-btn, .prp-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.prp-btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.prp-btn, .prp-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.prp-disabled, .prp-btn:disabled, .prp-button:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.prp-disabled *, :disabled * {
  pointer-events: none
}

.prp-btn.prp-disabled:hover, .prp-btn:disabled:hover {
  box-shadow: none
}

.prp-badge, .prp-tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.prp-badge {
  border-radius: 50%
}

.prp-ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.prp-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

.prp-ul li:last-child {
  border-bottom: none
}

.prp-tooltip, .prp-display-container {
  position: relative
}

.prp-tooltip .prp-text {
  display: none
}

.prp-tooltip:hover .prp-text {
  display: inline-block
}

.prp-ripple:active {
  opacity: 0.5
}

.prp-ripple {
  transition: opacity 0s
}

.prp-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%
}

.prp-select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc
}

.prp-dropdown-click, .prp-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.prp-dropdown-hover:hover .prp-dropdown-content {
  display: block;
  z-index: 1
}

.prp-dropdown-hover:first-child, .prp-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.prp-dropdown-hover:hover>.prp-button:first-child, .prp-dropdown-click:hover>.prp-button:first-child {
  background-color: #ccc;
  color: #000
}

.prp-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0
}

.prp-check, .prp-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px
}

.prp-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed!important;
  z-index: 1;
  overflow: auto
}

.prp-bar-block .prp-dropdown-hover, .prp-bar-block .prp-dropdown-click {
  width: 100%
}

.prp-bar-block .prp-dropdown-hover .prp-dropdown-content, .prp-bar-block .prp-dropdown-click .prp-dropdown-content {
  min-width: 100%
}

.prp-bar-block .prp-dropdown-hover .prp-button, .prp-bar-block .prp-dropdown-click .prp-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px
}

.prp-main, #main {
  transition: margin-left .4s
}

.prp-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.prp-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.prp-bar {
  width: 100%;
  overflow: hidden;
  font-weight: bold;
}

.prp-center .prp-bar {
  display: inline-block;
  width: auto
}

.prp-color {
  color: whitesmoke;
}

.prp-bar .prp-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  outline: none;
  display: block;

}

.prp-bar .prp-dropdown-hover, .prp-bar .prp-dropdown-click {
  position: static;
  float: left
}

.prp-bar .prp-button {
  white-space: normal
}

.prp-bar-block .prp-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  outline: none;
  white-space: normal;
  float: none
}

.prp-bar-block.prp-center .prp-bar-item {
  text-align: center;
}

.prp-block {
  display: block;
  width: 100%
}

.prp-responsive {
  overflow-x: auto
}

.prp-container:after, .prp-container:before, .prp-panel:after, .prp-panel:before, .prp-row:after, .prp-row:before, .prp-row-padding:after, .prp-row-padding:before, .prp-cell-row:before, .prp-cell-row:after, .prp-clear:after, .prp-clear:before, .prp-bar:before, .prp-bar:after {
  content: "";
  display: table;
  clear: both
}

.prp-col, .prp-half, .prp-third, .prp-twothird, .prp-threequarter, .prp-quarter {
  float: left;
  width: 100%
}

.prp-col.s1 {
  width: 8.33333%
}

.prp-col.s2 {
  width: 16.66666%
}

.prp-col.s3 {
  width: 24.99999%
}

.prp-col.s4 {
  width: 33.33333%
}

.prp-col.s5 {
  width: 41.66666%
}

.prp-col.s6 {
  width: 49.99999%
}

.prp-col.s7 {
  width: 58.33333%
}

.prp-col.s8 {
  width: 66.66666%
}

.prp-col.s9 {
  width: 74.99999%
}

.prp-col.s10 {
  width: 83.33333%
}

.prp-col.s11 {
  width: 91.66666%
}

.prp-col.s12 {
  width: 99.99999%
}

@media (min-width:601px) {
  .prp-col.m1 {
    width: 8.33333%
  }
  .prp-col.m2 {
    width: 16.66666%
  }
  .prp-col.m3, .prp-quarter {
    width: 24.99999%
  }
  .prp-col.m4, .prp-third {
    width: 33.33333%
  }
  .prp-col.m5 {
    width: 41.66666%
  }
  .prp-col.m6, .prp-half {
    width: 49.99999%
  }
  .prp-col.m7 {
    width: 58.33333%
  }
  .prp-col.m8, .prp-twothird {
    width: 66.66666%
  }
  .prp-col.m9, .prp-threequarter {
    width: 74.99999%
  }
  .prp-col.m10 {
    width: 83.33333%
  }
  .prp-col.m11 {
    width: 91.66666%
  }
  .prp-col.m12 {
    width: 99.99999%
  }
}

@media (min-width:993px) {
  .prp-col.l1 {
    width: 8.33333%
  }
  .prp-col.l2 {
    width: 16.66666%
  }
  .prp-col.l3 {
    width: 24.99999%
  }
  .prp-col.l4 {
    width: 33.33333%
  }
  .prp-col.l5 {
    width: 41.66666%
  }
  .prp-col.l6 {
    width: 49.99999%
  }
  .prp-col.l7 {
    width: 58.33333%
  }
  .prp-col.l8 {
    width: 66.66666%
  }
  .prp-col.l9 {
    width: 74.99999%
  }
  .prp-col.l10 {
    width: 83.33333%
  }
  .prp-col.l11 {
    width: 91.66666%
  }
  .prp-col.l12 {
    width: 99.99999%
  }
}

.prp-content {
  max-width: 980px;
  margin: auto
}

.prp-rest {
  overflow: hidden
}

.prp-cell-row {
  display: table;
  width: 100%
}

.prp-cell {
  display: table-cell
}

.prp-cell-top {
  vertical-align: top
}

.prp-cell-middle {
  vertical-align: middle
}

.prp-cell-bottom {
  vertical-align: bottom
}

.prp-hide {
  display: none!important
}

.prp-show-block, .prp-show {
  display: block!important
}

.prp-show-inline-block {
  display: inline-block!important
}

@media (max-width:600px) {
  .prp-modal-content {
    margin: 0 10px;
    width: auto!important
  }
  .prp-modal {
    padding-top: 30px
  }
  .prp-dropdown-hover.prp-mobile .prp-dropdown-content, .prp-dropdown-click.prp-mobile .prp-dropdown-content {
    position: relative
  }
  .prp-hide-small {
    display: none!important
  }
  .prp-mobile {
    display: block;
    width: 100%!important
  }
  .prp-bar-item.prp-mobile, .prp-dropdown-hover.prp-mobile, .prp-dropdown-click.prp-mobile {
    text-align: center
  }
  .prp-dropdown-hover.prp-mobile, .prp-dropdown-hover.prp-mobile .prp-btn, .prp-dropdown-hover.prp-mobile .prp-button, .prp-dropdown-click.prp-mobile, .prp-dropdown-click.prp-mobile .prp-btn, .prp-dropdown-click.prp-mobile .prp-button {
    width: 100%
  }
}

@media (max-width:768px) {
  .prp-modal-content {
    width: 500px
  }
  .prp-modal {
    padding-top: 50px
  }
}

@media (min-width:993px) {
  .prp-modal-content {
    width: 900px
  }
  .prp-hide-large {
    display: none!important
  }
  .prp-sidebar.prp-collapse {
    display: block!important
  }
}

@media (max-width:992px) and (min-width:601px) {
  .prp-hide-medium {
    display: none!important
  }
}

@media (max-width:992px) {
  .prp-sidebar.prp-collapse {
    display: none
  }
  .prp-main {
    margin-left: 0!important;
    margin-right: 0!important
  }
}

.prp-top, .prp-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.prp-top {
  top: 0
}

.prp-bottom {
  bottom: 0
}

.prp-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2
}

.prp-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.prp-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.prp-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.prp-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.prp-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.prp-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.prp-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.prp-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.prp-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.prp-display-container:hover .prp-display-hover {
  display: block
}

.prp-display-container:hover span.prp-display-hover {
  display: inline-block
}

.prp-display-hover {
  display: none
}

.prp-display-position {
  position: absolute
}

.prp-circle {
  border-radius: 50%
}

.prp-round-small {
  border-radius: 2px
}

.prp-round, .prp-round-medium {
  border-radius: 4px
}

.prp-round-large {
  border-radius: 8px
}

.prp-round-xlarge {
  border-radius: 16px
}

.prp-round-xxlarge {
  border-radius: 32px
}

.prp-row-padding, .prp-row-padding>.prp-half, .prp-row-padding>.prp-third, .prp-row-padding>.prp-twothird, .prp-row-padding>.prp-threequarter, .prp-row-padding>.prp-quarter, .prp-row-padding>.prp-col {
  padding: 0 8px
}

.prp-container, .prp-panel {
  padding: 0.01em 16px
}

.prp-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.prp-code, .prp-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px
}

.prp-code {
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word
}

.prp-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%
}

.prp-card, .prp-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.prp-card-4, .prp-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.prp-spin {
  animation: prp-spin 2s infinite linear
}

@keyframes prp-spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

.prp-animate-fading {
  animation: fading 10s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.prp-animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.prp-animate-top {
/*  position: relative; */
  animation: animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.prp-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.prp-animate-right {
  position: relative;
  animation: animateright 0.4s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.prp-animate-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.prp-animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.prp-animate-input {
  transition: width 0.4s ease-in-out
}

.prp-animate-input:focus {
  width: 100%!important
}

.prp-opacity, .prp-hover-opacity:hover {
  opacity: 0.65
}

.prp-opacity-off, .prp-hover-opacity-off:hover {
  opacity: 1
}

.prp-opacity-max {
  opacity: 0.25
}

.prp-opacity-min {
  opacity: 0.75
}

.prp-greyscale-max, .prp-grayscale-max, .prp-hover-greyscale:hover, .prp-hover-grayscale:hover {
  filter: grayscale(100%)
}

.prp-greyscale, .prp-grayscale {
  filter: grayscale(75%)
}

.prp-greyscale-min, .prp-grayscale-min {
  filter: grayscale(50%)
}

.prp-sepia {
  filter: sepia(75%)
}

.prp-sepia-max, .prp-hover-sepia:hover {
  filter: sepia(100%)
}

.prp-sepia-min {
  filter: sepia(50%)
}

.prp-tiny {
  font-size: 10px!important
}

.prp-small {
  font-size: 12px!important
}

.prp-medium {
  font-size: 15px!important
}

.prp-large {
  font-size: 18px!important
}

.prp-xlarge {
  font-size: 24px!important
}

.prp-xxlarge {
  font-size: 36px!important
}

.prp-xxxlarge {
  font-size: 48px!important
}

.prp-jumbo {
  font-size: 64px!important
}

.prp-left-align {
  text-align: left!important
}

.prp-right-align {
  text-align: right!important
}

.prp-justify {
  text-align: justify!important
}

.prp-center {
  text-align: center!important
}

.prp-border-0 {
  border: 0!important
}

.prp-border {
  border: 1px solid #ccc!important
}

.prp-border-top {
  border-top: 1px solid #ccc!important
}

.prp-border-bottom {
  border-bottom: 1px solid #ccc!important
}

.prp-border-left {
  border-left: 1px solid #ccc!important
}

.prp-border-right {
  border-right: 1px solid #ccc!important
}

.prp-topbar {
  border-top: 6px solid #ccc!important
}

.prp-bottombar {
  border-bottom: 6px solid #ccc!important
}

.prp-leftbar {
  border-left: 6px solid #ccc!important
}

.prp-rightbar {
  border-right: 6px solid #ccc!important
}

.prp-section, .prp-code {
  margin-top: 16px!important;
  margin-bottom: 16px!important
}

.prp-margin {
  margin: 16px!important
}

.prp-margin-top {
  margin-top: 16px!important
}

.prp-margin-bottom {
  margin-bottom: 16px!important
}

.prp-margin-left {
  margin-left: 16px!important
}

.prp-margin-right {
  margin-right: 16px!important
}

.prp-padding-small {
  padding: 4px 8px!important
}

.prp-padding {
  padding: 8px 16px!important
}

.prp-padding-large {
  padding: 12px 24px!important
}

.prp-padding-16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important
}

.prp-padding-24 {
  padding-top: 24px!important;
  padding-bottom: 24px!important
}

.prp-padding-32 {
  padding-top: 32px!important;
  padding-bottom: 32px!important
}

.prp-padding-48 {
  padding-top: 48px!important;
  padding-bottom: 48px!important
}

.prp-padding-64 {
  padding-top: 64px!important;
  padding-bottom: 64px!important
}

.prp-left {
  float: left!important
}

.prp-right {
  float: right!important
}

.prp-button:hover {
  color: #000!important;
  background-color: #ccc!important
}

.prp-transparent, .prp-hover-none:hover {
  background-color: transparent!important
}

.prp-hover-none:hover {
  box-shadow: none!important
}


/* Colors */

.prp-amber, .prp-hover-amber:hover {
  color: #000!important;
  background-color: #ffc107!important
}

.prp-aqua, .prp-hover-aqua:hover {
  color: #000!important;
  background-color: #00ffff!important
}

.prp-blue, .prp-hover-blue:hover {
  color: #fff!important;
  background-color: #2196F3!important
}

.prp-light-blue, .prp-hover-light-blue:hover {
  color: #000!important;
  background-color: #87CEEB!important
}

.prp-brown, .prp-hover-brown:hover {
  color: #fff!important;
  background-color: #795548!important
}

.prp-cyan, .prp-hover-cyan:hover {
  color: #000!important;
  background-color: #00bcd4!important
}

.prp-blue-grey, .prp-hover-blue-grey:hover, .prp-blue-gray, .prp-hover-blue-gray:hover {
  color: #fff!important;
  background-color: #607d8b!important
}

.prp-green, .prp-hover-green:hover {
  color: #fff!important;
  background-color: #4CAF50!important
}

.prp-light-green, .prp-hover-light-green:hover {
  color: #000!important;
  background-color: #8bc34a!important
}

.prp-indigo, .prp-hover-indigo:hover {
  color: #fff!important;
  background-color: #3f51b5!important
}

.prp-khaki, .prp-hover-khaki:hover {
  color: #000!important;
  background-color: #f0e68c!important
}

.prp-lime, .prp-hover-lime:hover {
  color: #000!important;
  background-color: #cddc39!important
}

.prp-orange, .prp-hover-orange:hover {
  color: #000!important;
  background-color: #ff9800!important
}

.prp-deep-orange, .prp-hover-deep-orange:hover {
  color: #fff!important;
  background-color: #ff5722!important
}

.prp-pink, .prp-hover-pink:hover {
  color: #fff!important;
  background-color: #e91e63!important
}

.prp-purple, .prp-hover-purple:hover {
  color: #fff!important;
  background-color: #9c27b0!important
}

.prp-deep-purple, .prp-hover-deep-purple:hover {
  color: #fff!important;
  background-color: #673ab7!important
}

.prp-red, .prp-hover-red:hover {
  color: #fff!important;
  background-color: #f44336!important
}

.prp-sand, .prp-hover-sand:hover {
  color: #000!important;
  background-color: #fdf5e6!important
}

.prp-teal, .prp-hover-teal:hover {
  color: #fff!important;
  background-color: #009688!important
}

.prp-yellow, .prp-hover-yellow:hover {
  color: #000!important;
  background-color: #ffeb3b!important
}

.prp-white, .prp-hover-white:hover {
  color: #000!important;
  background-color: #fff!important
}

.prp-black, .prp-hover-black:hover {
  color: #fff!important;
  background-color: #000!important
}

.prp-grey, .prp-hover-grey:hover, .prp-gray, .prp-hover-gray:hover {
  color: #000!important;
  background-color: #bbb!important
}

.prp-light-grey, .prp-hover-light-grey:hover, .prp-light-gray, .prp-hover-light-gray:hover {
  color: #000!important;
  background-color: #f1f1f1!important
}

.prp-dark-grey, .prp-hover-dark-grey:hover, .prp-dark-gray, .prp-hover-dark-gray:hover {
  color: #fff!important;
  background-color: #616161!important
}

.prp-pale-red, .prp-hover-pale-red:hover {
  color: #000!important;
  background-color: #ffdddd!important
}

.prp-pale-green, .prp-hover-pale-green:hover {
  color: #000!important;
  background-color: #ddffdd!important
}

.prp-pale-yellow, .prp-hover-pale-yellow:hover {
  color: #000!important;
  background-color: #ffffcc!important
}

.prp-pale-blue, .prp-hover-pale-blue:hover {
  color: #000!important;
  background-color: #ddffff!important
}

.prp-text-red, .prp-hover-text-red:hover {
  color: #f44336!important
}

.prp-text-green, .prp-hover-text-green:hover {
  color: #4CAF50!important
}

.prp-text-blue, .prp-hover-text-blue:hover {
  color: #2196F3!important
}

.prp-text-yellow, .prp-hover-text-yellow:hover {
  color: #ffeb3b!important
}

.prp-text-white, .prp-hover-text-white:hover {
  color: #fff!important
}

.prp-text-black, .prp-hover-text-black:hover {
  color: #000!important
}

.prp-text-grey, .prp-hover-text-grey:hover, .prp-text-gray, .prp-hover-text-gray:hover {
  color: #757575!important
}

.prp-text-amber {
  color: #ffc107!important
}

.prp-text-aqua {
  color: #00ffff!important
}

.prp-text-light-blue {
  color: #87CEEB!important
}

.prp-text-brown {
  color: #795548!important
}

.prp-text-cyan {
  color: #00bcd4!important
}

.prp-text-blue-grey, .prp-text-blue-gray {
  color: #607d8b!important
}

.prp-text-light-green {
  color: #8bc34a!important
}

.prp-text-indigo {
  color: #3f51b5!important
}

.prp-text-khaki {
  color: #b4aa50!important
}

.prp-text-lime {
  color: #cddc39!important
}

.prp-text-orange {
  color: #ff9800!important
}

.prp-text-deep-orange {
  color: #ff5722!important
}

.prp-text-pink {
  color: #e91e63!important
}

.prp-text-purple {
  color: #9c27b0!important
}

.prp-text-deep-purple {
  color: #673ab7!important
}

.prp-text-sand {
  color: #fdf5e6!important
}

.prp-text-teal {
  color: #009688!important
}

.prp-text-light-grey, .prp-hover-text-light-grey:hover, .prp-text-light-gray, .prp-hover-text-light-gray:hover {
  color: #f1f1f1!important
}

.prp-text-dark-grey, .prp-hover-text-dark-grey:hover, .prp-text-dark-gray, .prp-hover-text-dark-gray:hover {
  color: #3a3a3a!important
}

.prp-border-red, .prp-hover-border-red:hover {
  border-color: #f44336!important
}

.prp-border-green, .prp-hover-border-green:hover {
  border-color: #4CAF50!important
}

.prp-border-blue, .prp-hover-border-blue:hover {
  border-color: #2196F3!important
}

.prp-border-yellow, .prp-hover-border-yellow:hover {
  border-color: #ffeb3b!important
}

.prp-border-white, .prp-hover-border-white:hover {
  border-color: #fff!important
}

.prp-border-black, .prp-hover-border-black:hover {
  border-color: #000!important
}

.prp-border-grey, .prp-hover-border-grey:hover, .prp-border-gray, .prp-hover-border-gray:hover {
  border-color: #bbb!important
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


/* Create a Parallax Effect */

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* First image (Logo. Full height) */

.bgimg-1 {
  background-image: url('/assets/parallax1.jpg');
  min-height: 100%;
}

/* second image (s) */

.bgimg-2 {
  background-image: url("/assets/parallax2.jpg");
  min-height: 400px;
}



.bgimg-3 {
  background-image: url("/assets/parallax3.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("/assets/parallax4.jpg");
  min-height: 400px;
}
.bgimg-5 {
  background-image: url("/assets/parallax5.jpg");
  min-height: 400px;
}

.prp-wide {
  letter-spacing: 10px;
}


.prp-hover-opacity {
  cursor: pointer;
}


/* Turn off parallax scrolling for tablets and phones */

@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}

p {
  text-indent: 50px;
}

.prp-dl-skill {
  padding: 0.5em;
  text-align: left;
  font-family: 'Metamorphous', cursive;
}

dt {}

dd::before {}

dd {
  margin: 0 0 0 33px;
  padding: 0 0 0 0;
  display: list-item;
  /* This has to be "list-item"                                               */
  list-style-type: disc;
  /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
  /*  list-style-position: inside;  See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
  font-size: 16px;
  font-family: 'Crimson Text', serif;
  color: #252D2F;
}

.dancing-font {
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
}
