
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 prp-display-container prp-opacity-min" id="home">
  <div class="prp-display-middle" style="white-space:nowrap;">
    <span class="rathna prp-center prp-padding-large prp-black prp-xlarge prp-wide prp-animate-opacity">
      Rathna <span class="prp-hide-small">Prakash</span></span>
  </div>
</div>

<app-prp-aboutme></app-prp-aboutme>

<app-prp-skills></app-prp-skills>

<app-prp-portfolia></app-prp-portfolia>

<app-prp-contact></app-prp-contact>
